# Ignora dependências do projeto
node_modules/

# Ignora arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora pastas e arquivos criados automaticamente pelo Cypress
cypress/screenshots/
cypress/videos/

# Ignora variáveis de ambiente (remova esta linha se quiser versionar o arquivo)
cypress.env.json

# Ignora configurações do sistema/macOS/VSCode
.DS_Store
.vscode/

# Ignora resultados de testes temporários (caso você use alguma lib de cobertura de testes)
coverage/
